.header {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
}

.item {
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
}

.item:hover {
    color: #F1CD5F;
}
.item:focus, .item:active {
    color: #DB7640;
}
